@font-face {
    font-family: "iranyekan";
    font-weight: 400;
    src: url("/assets/fonts/IRANYekanWebMedium.woff") format("woff"),
    url("/assets/fonts/IRANYekanWebMedium.woff2") format("woff2");
}

@font-face {
    font-family: "iranyekan";
    font-weight: 700;
    src: url("/assets/fonts/IRANYekanWebBold.woff") format("woff"),
    url("/assets/fonts/IRANYekanWebBold.woff2") format("woff2");
}